*
	box-sizing border-box

article
aside
details
figcaption
figure
footer
header
hgroup
main
nav
section
summary
	display block

html
	-webkit-text-size-adjust 100%
	-ms-text-size-adjust 100%

body
	margin 0

h1
h2
h3
h4
	margin 1em 0
	line-height 1.2
	color headings-color
	font-weight headings-weight

h1
	margin 0
	font-size 2em

p
	margin 1.6em 0

ul
ol
	margin 1.6em 0
	padding-left 2em

code
pre
	font-family font-mono
	font-size 1em

pre
	white-space pre-wrap
	word-wrap break-word

img
	border 0
	vertical-align middle
	max-width 100%
	height auto

table
	border-collapse collapse
	border-spacing 0
