//
// Variables settings
// --------------------------------------------------

// Scaffolding
body-bg =          #f2f2f2
text-color =       #4c4c4c

// Links
link-color =       #f74c39
//link-color-hover = darken(link-color, 15%)

// Typography
font-sans-serif =  Helvetica, Arial, sans-serif
font-serif =       Georgia, "Times New Roman", Times, serif
font-sans-jp =     Meiryo, "MS PGothic", sans-serif
font-mono =        Monaco, Menlo, Consolas, Meiryo, monospace
font-base =        font-sans-jp

font-size-base =   13px

line-height-base = 1.6

headings-color =   #333
headings-font =    inherit
headings-weight =  400

// Image
img-path =         'img/'

//
// Origin settings
// --------------------------------------------------

@import url(http://fonts.googleapis.com/css?family=Oswald)

color-pink =       #ee5845
text-sub-color =   #999

page-width =       690px
post-ws =          40px