            <div class="brand">
                <div class="wide">
                    <div class="center">
                        <h1>
                            <a href="<%- config.root %>"><%= config.title %></a>
                        </h1>
                        <p>
                            <% if (config.subtitle){ %><%= config.subtitle %><% } %>
                        </p>
                    </div>
                </div>
            </div>