                <% if (config.disqus_shortname && page.comments){ %>
                <div class="wide">
                    <div class="center">
                        <div id="disqus_thread">
                            <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                        </div>
                    </div>
                </div>
                <% } %>